.body{
    display: flex;
    background-image: url(./font.webp);
    background-attachment: fixed;
    background-position: center;
    padding: 0%;
    margin: 0%;
    text-decoration: aliceblue;
    gap: 80px;
}
.Editeur{
    display: flex;
    flex-direction: row;
    text-decoration-color: antiquewhite;
}
.orientation{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    vertical-align: bottom;
    font-size: 80px;
}
em::first-letter{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 10px;
}
.metier{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    gap: 20px;
}
h2{
    color: aliceblue;
    font-style: italic;
    font-size: 40px;
}
h1{
    color: rgb(83, 120, 153);
    font-size: 30px;
    text-align: center;

}
h3{
   color: aquamarine ; 
}
.lettrine{
    
    font-weight: bold;
    line-height: 10;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
.part1{
    left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.part2{
    right: 300px;
    background-image: url(./phone\ portable.png) ;
    background-repeat: repeat-y;
    background-size: contain;
    height: 800px;
    width: 800px;
}
.coordonnée{
    
    flex-direction: column;
    flex-direction: row;
    text-align: center;
}
p{
    color: aqua;
    margin-right: 10%;
}
.profil{
    border-radius: 100%;
}

.tel{
    display: flex;
    flex-direction: column;
    flex-direction: row;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

